/*feladat1*/
.container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

#zold{
    background-color: green;
    flex-grow: 1;
}
#sarga{
    background-color: yellow;
    flex-grow: 1;
}
#lila{
    background-color: purple;
    flex-grow: 1;
}

/*feladat 2*/
.container2{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

#zold2{
    background-color: green;
    flex-grow: 1;
}
#sarga2{
    background-color: yellow;
    flex-grow: 2;
}
#lila2{
    background-color: purple;
    flex-grow: 1;
}
/*feladat 3*/
.container3{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
}

#zold3{
    background-color: green;
    flex-grow: 1;
    order: 3;
}
#sarga3{
    background-color: yellow;
    flex-grow: 2;
    order: 2;
}
#lila3{
    background-color: purple;
    flex-grow: 1;
    order: 1;
}
 /*feladat 4*/
.container4{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#zold4{
    background-color: green;
    flex-grow: 1;
    order: 1;
}
#sarga4{
    background-color: yellow;
    flex-grow: 2;
    order: 3;
}
#lila4{
    background-color: purple;
    flex-grow: 1;
    order: 2;
}